<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.andreasschrade.androidtemplate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="de.andreasschrade.androidtemplate.permission.C2D_MESSAGE" />

    <permission
        android:name="de.andreasschrade.androidtemplate.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Sonar"
        android:theme="@style/Theme.Main">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD7oezpWuqCUaV-ZxMOLLmBzh21wjjBKN0" />

        <activity android:name=".activities.peripheral.BidActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.peripheral.ProfileActivity"
            android:label=""
            android:parentActivityName=".activities.peripheral.BidActivity" android:screenOrientation="portrait" />
        <activity
            android:name=".activities.peripheral.HomeActivity"
            android:label=""
            android:parentActivityName=".activities.peripheral.BidActivity" android:screenOrientation="portrait" />
        <activity
            android:name=".activities.core.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".activities.peripheral.BidActivity" android:screenOrientation="portrait" />
        <activity android:name=".activities.core.LoginActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.core.RegisterActivity" android:screenOrientation="portrait" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <receiver
            android:name=".backendless.PushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="de.andreasschrade.androidtemplate" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.peripheral.HostGamingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activities.peripheral.PlayerGamingActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.peripheral.GamingActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>